:root {
  --main-color: #2196f3;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.open-sans-body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Special Head */
.special-head {
  margin-bottom: 50px;
}
.special-head h1 {
  position: relative;
  z-index: 2;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
  text-transform: uppercase;
}
@keyframes changeColor {
  from {
    color: black;
    border: 2px solid black;
  }
  to {
    color: white;
    border: 2px solid transparent;
  }
}
.special-head h1:hover {
  animation-name: changeColor;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.special-head h1::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  transition: 0.5s;
}
.special-head h1:hover::before {
  left: 0;
  animation-name: scaling;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes scaling {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    border-radius: 0;
    width: 52%;
    height: 100%;
    z-index: -1;
  }
}
.special-head h1::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  z-index: 4;
  transition: 0.5s;
}
.special-head h1:hover::after {
  right: 0;
  animation-name: scaling;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
/* Header */
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container h2 {
  margin: 0;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
}
.header .container .main-links {
  display: flex;
}
.header .container .main-links li {
  position: relative;
  padding: 20px;
  transition: 0.3s;
}
.header .container .main-links li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  transition: 0.3s;
}
.header .container .main-links li a {
  transition: 0.3s;
  font-size: 18px;
  color: black;
}
.header .container .main-links li:hover {
  background-color: #eeeeee38;
}
.header .container .main-links li:hover::before {
  width: 100%;
}
.header .container .main-links li:hover a {
  color: var(--main-color);
}
.header .container .other-links {
  background-color: white;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  display: flex;
  border-bottom: 2px solid var(--main-color);
  padding: 40px 0;
  align-items: center;
  display: none;
  z-index: 3;
}
.header .container .other-links .links {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .container .other-links .links ul {
  padding: 20px;
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
  }
  .header .container h2 {
    margin: 20px;
  }
  .header .container .main-links li {
    padding: 20px 10px;
  }
  .header .container .main-links li a {
    font-size: 15px;
  }
  .header .container .other-links {
    padding: 0;
  }
  .header .container .other-links img {
    display: none;
  }
  .header .container .other-links .links {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .container .other-links .links ul {
    width: 100%;
    padding: 0;
  }
  .header .container .other-links .links ul li {
    border-bottom: 1px solid #ccc;
  }
}
@media (min-width: 768px) {
  .header .container .other-links img {
    display: none;
  }
  .header .container .other-links .links ul {
    flex: 1;
  }
}
@media (min-width: 992px) {
  .header .container .other-links img {
    display: block;
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .header .container .other-links img {
    width: 523px;
  }
}
.header .container .other-links .links ul li {
  position: relative;
  color: var(--main-color);
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}
.header .container .other-links .links ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #eeeeee38;
  transition: 0.3s;
}
.header .container .other-links .links ul li:hover::before {
  width: 100%;
}
.header .container .other-links .links ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.header .container .other-links .links ul li a {
  color: var(--main-color);
  position: relative;
}
/* Header */
/* Landing */
.landing {
  position: relative;
  height: calc(100vh - 60.7px);
  background-color: #ececec;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.landing::before {
  position: absolute;
  content: "";
  width: 140%;
  height: 290px;
  bottom: -100px;
  left: -10px;
  background-color: white;
  transform: rotate(-10deg);
  z-index: 1;
}
.landing::after {
  position: absolute;
  content: "\f103";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  z-index: 4;
  left: 50%;
  bottom: 30px;
  font-size: 30px;
  color: var(--main-color);
  animation-name: uptodown2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes uptodown2 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.landing .container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
.landing .container .text {
  flex: 1;
  text-align: center;
}
.landing .container .text h1 {
  text-transform: capitalize;
  font-weight: 700;
}
.landing .container .text p {
  max-width: 400px;
  color: gray;
  line-height: 1.6;
  font-size: 20px;
  margin: 0 auto;
  word-break: break-all;
  text-align: left;
}
@keyframes uptodown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
.landing .container .image {
  flex: 1;
  text-align: center;
  animation-name: uptodown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landing .container .image img {
  width: 600px;
}
@media (max-width: 768px) {
  .landing {
    height: calc(100vh - 140px);
  }
  .landing .container .text h1 {
    font-size: 25px;
  }
  .landing .container .image {
    display: none;
  }
}
@media (min-width: 768px) {
  .landing .container .image img {
    width: 400px;
    padding-left: 50px;
  }
}

@media (min-width: 992px) {
  .landing .container .image img {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .landing .container .image img {
    width: 600px;
  }
}
/* Landing */
/* Articles */
.articles {
  padding: 100px 0;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0px 0px 6px 0px gray;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 0px gray;
}
.articles .container .box .image img {
  width: 100%;
}
.articles .container .box .text {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.articles .container .box .text h3 {
  margin-top: 0;
}
.articles .container .box .text p {
  color: gray;
  word-break: break-all;
  max-width: 200px;
  line-height: 1.6;
}
.articles .container .box .more {
  position: relative;
  padding: 20px 15px;
}
.articles .container .box .more::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Required for Solid style */
  content: "\f061";
  right: 20px;
  color: var(--main-color);
}
.articles .container .box:hover .more::before {
  animation-name: leftRight;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes leftRight {
  from {
    right: 20px;
  }
  to {
    right: 10px;
  }
}
.articles .container .box .more a {
  color: var(--main-color);
  font-weight: bold;
}
/* Articles */
.spikes {
  position: relative;
}
.spikes::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image:
    linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* Gallery */
.gallery {
  padding: 100px 0;
  background-color: #ececec;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 768px) {
  .gallery .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
.gallery .container .box {
  background-color: white;
  padding: 15px;
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image img {
  width: 100%;
  transition: 0.3s;
}
.gallery .container .box .image::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 2;
}
.gallery .container .box:hover .image::before {
  animation-name: changeOpacity;
  animation-duration: 0.3s;
}
@keyframes changeOpacity {
  from {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
  to {
    background-color: #ffffff28;
    width: 100%;
    height: 100%;
  }
}
.gallery .container .box:hover .image img {
  transform: scale(1.2) rotate(5deg);
}
/* Gallery */
/* features */
.features {
  padding: 100px 0;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  text-align: center;
  overflow: hidden;
  border: 1px solid #ccc;
}
.features .container .box .image {
  position: relative;
  z-index: -2;
}
.features .container .box .image::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.5;
}
.features .container .box .image img {
  width: 100%;
}
.features .container .box .text {
  position: relative;
}
.features .container .box .text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 300px;
  background-color: white;
  left: 0;
  bottom: 30%;
  transform: skewY(-21deg);
  z-index: -1;
  transition: 0.3s;
}
.features .container .box:hover .text::before {
  transform: skewY(21deg);
}
.features .container .box .text h1 {
  width: fit-content;
  margin: 40px auto;
  padding-bottom: 20px;
}
.features .container .box .text p {
  max-width: 250px;
  color: gray;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 20px;
  word-break: break-all;
}
.features .container .box .btn {
  position: relative;
  font-size: 20px;
  padding: 10px 30px;
  width: fit-content;
  margin: 20px auto;
  border-radius: 10px;
}
.features .container .box .btn::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: 0.3s;
  z-index: -1;
}
.features .container .box:nth-child(1) .image::before {
  background-color: #009688;
}
.features .container .box:nth-child(1) .text h1 {
  border-bottom: 4px solid #009688;
}
.features .container .box:nth-child(1) .btn {
  color: #009688;
  border: 3px solid #009688;
}
.features .container .box:nth-child(1):hover .btn {
  color: white;
}
.features .container .box:nth-child(1):hover .btn::before {
  width: 100%;
  background-color: #009688;
}
.features .container .box:nth-child(2) .image::before {
  background-color: red;
}
.features .container .box:nth-child(2) .text h1 {
  border-bottom: 4px solid red;
}
.features .container .box:nth-child(2) .btn {
  color: red;
  border: 3px solid #f44036;
}
.features .container .box:nth-child(2):hover .btn {
  color: white;
}
.features .container .box:nth-child(2):hover .btn::before {
  width: 100%;
  background-color: #f44036;
}
.features .container .box:nth-child(3) .image::before {
  background-color: #03a9f4;
}
.features .container .box:nth-child(3) .text h1 {
  border-bottom: 4px solid #03a9f4;
}
.features .container .box:nth-child(3) .btn {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}
.features .container .box:nth-child(3):hover .btn {
  color: white;
}
.features .container .box:nth-child(3):hover .btn::before {
  width: 100%;
  background-color: #03a9f4;
}
/* features */
/* Testimonials */
.testimonials {
  padding: 100px 0;
  background-color: #ececec;
}
.testimonials .container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.testimonials .container .card {
  padding: 10px 20px;
  position: relative;
  background-color: white;
  border-radius: 5px;
}
.testimonials .container .card .image {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ececec;
  border-radius: 50%;
  padding: 10px;
  right: -5px;
  top: -50px;
}
.testimonials .container .card .image img {
  width: 100%;
  border-radius: 50%;
}
.testimonials .container .card .head h4 {
  margin-bottom: 0;
  margin-top: 10px;
}
.testimonials .container .card .head p {
  color: gray;
}
.testimonials .container .card .stars {
  display: flex;
  justify-content: flex-start;
}
.testimonials .container .card .stars li {
  margin-right: 2px;
}
.testimonials .container .card p {
  color: gray;
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 15px;
}
/* Testimonials */
/* Team Members */
.team-members {
  padding: 100px 0;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team-members .container .member {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
.team-members .container .member .sub {
  position: relative;
  padding: 40px 20px 20px;
  width: 90%;
  border-radius: 10px;
  background-color: #f3f3f3;
}
.team-members .container .member .sub::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: #8080804f;
  right: 0;
  top: 0;
  transition: 0.3s;
  border-radius: 10px;
}
.team-members .container .member:hover .sub::after {
  width: 100%;
}
.team-members .container .member .sub .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.team-members .container .member .sub .social .image {
  border-radius: 15px;
  position: relative;
  left: -60px;
  z-index: 3;
}
.team-members .container .member .sub .social img {
  width: 110%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}
.team-members .container .member:hover .sub .social img {
  filter: grayscale(100%);
}
.team-members .container .member .sub .social ul {
  position: relative;
  z-index: 3;
}
.team-members .container .member .sub .social ul li {
  margin-bottom: 25px;
}
.team-members .container .member .sub .social ul li i {
  color: gray;
  transition: 0.3s;
  font-size: 20px;
}
.team-members .container .member .sub .social ul li i:hover {
  color: var(--main-color);
}
.team-members .container .member .sub .text {
  position: relative;
  z-index: 3;
}
.team-members .container .member .sub .text h3 {
  margin: 0;
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: bold;
  transition: 0.3s;
}
.team-members .container .member:hover .sub .text h3 {
  color: gray;
}
.team-members .container .member .sub .text p {
  margin: 0;
  color: #333;
}
/* Team Members */
/* Services */
.services {
  counter-reset: mycounter;
  padding: 100px 0;
  background-color: #ececec;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .serv {
  overflow: hidden;
  position: relative;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  counter-increment: mycounter;
  box-shadow: 0px 6px 30px -16px black;
  transition: 0.3s;
}
.services .container .serv:hover {
  transform: translateY(-10px);
}
.services .container .serv::before {
  position: absolute;
  content: counter(mycounter, decimal-leading-zero);
  color: white;
  background-color: var(--main-color);
  left: -15px;
  bottom: 0;
  font-size: 30px;
  font-weight: bold;
  padding: 6px 30px;
  transform: skewX(-30deg);
  z-index: 2;
}
.services .container .serv::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  transition: 0.3s;
}
.services .container .serv:hover::after {
  width: 100%;
}
.services .container .serv i {
  color: #d5d5d5;
}
.services .container .serv h2 {
  color: var(--main-color);
  margin-bottom: 40px;
}
.services .container .serv p {
  position: relative;
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 15px 10px;
  margin: 0;
  text-align: right;
  color: var(--main-color);
}
.services .container .serv p::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 46.5px;
  background-color: #d5d5d5;
  left: 30px;
  bottom: 0;
  transform: skewX(-30deg);
}
/* Services */
/* Skills */
.skills {
  padding: 100px 0;
}
.skills .container {
  display: flex;
  align-items: center;
}
.skills .container .image {
  flex: 1;
}
@media (max-width: 992px) {
  .skills .container .image {
    display: none;
  }
}
.skills .container .skills-progress {
  flex: 1;
}
.skills .container .skills-progress .skill .progress-holder {
  position: relative;
  height: 30px;
  background-color: #eeeeee;
}
.skills .container .skills-progress .skill .progress-holder::before {
  position: absolute;
  content: attr(data-custom);
  right: 0;
  top: -40px;
  border: 1px solid gray;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 5px;
  color: var(--main-color);
  font-weight: bold;
}
.skills .container .skills-progress .skill .progress-holder .progress {
  position: relative;
  height: 100%;
}
.skills
  .container
  .skills-progress
  .skill
  .progress-holder
  .progress.ob::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.5s;
  animation-name: changeWidth;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes changeWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* Skills */
/* Works */
.works {
  padding: 100px 0;
  background-color: #ececec;
}
.works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works .container .imagee {
  margin-bottom: 40px;
}
.works .container .imagee img {
  width: 100%;
}
.works .container .cards .card {
  position: relative;
  padding: 30px 50px;
  background-color: #f6f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 10px;
}
.works .container .cards .card::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  transition: 0.3s;
  border-radius: 10px;
}
.works .container .cards .card:hover::before {
  width: 100%;
  height: 100%;
}
.works .container .cards .card .image {
  position: relative;
  z-index: 2;
}
.works .container .cards .card .image img {
  width: 80px;
  margin-right: 40px;
}
.works .container .cards .card .text {
  position: relative;
  z-index: 2;
  max-width: 350px;
  word-break: break-all;
}
@media (max-width: 768px) {
  .works .container {
    flex-direction: column;
  }
  .works .container .cards .card .text {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
  }
  .works .container .cards .card {
    padding: 30px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .works .container {
    flex-direction: column;
  }
  .works .container .cards .card .text {
    max-width: 600px;
  }
  .works .container .cards .card {
    padding: 30px;
  }
}
@media (min-width: 992px) {
  .works .container {
    flex-direction: row;
  }
  .works .container .cards .card .text {
    max-width: 240px;
  }
  .works .container .cards .card {
    padding: 30px;
  }
}
@media (min-width: 1200px) {
  .works .container .cards .card .text {
    max-width: 350px;
  }
  .works .container .cards .card {
    padding: 30px 50px;
  }
}
.works .container .cards .card .text h2 {
  margin-top: 0;
}
.works .container .cards .card .text p {
  margin-bottom: 0;
  margin-top: 0;
  color: gray;
  line-height: 1.6;
  font-size: 16px;
}
/* Works */
/* Latest Events */
.events {
  position: relative;
  padding: 100px 0;
}
.dots {
  position: absolute;
  z-index: 1;
}
.dots:first-of-type {
  right: 0;
  top: 40px;
}

.dots:last-of-type {
  left: 0;
  bottom: 40px;
}

@media (max-width: 992px) {
  .events .dots {
    display: none;
  }
}
.events .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .events .container {
    flex-direction: column;
  }
}
.events .container .image {
  flex: 1;
}
.events .container .image img {
  width: 100%;
}
.events .container .event {
  flex: 1;
  text-align: center;
}
.events .container .event ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.events .container .event ul li {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px 0;
  width: 60px;
  transition: 0.3s;
}
.events .container .event ul li:hover {
  border-color: var(--main-color);
}
.events .container .event ul li h1 {
  border-bottom: 1px solid #ccc;
  margin: 0;
  margin-bottom: 10px;
  padding: 20px 0;
  transition: 0.3s;
  color: var(--main-color);
}
.events .container .event ul li:hover h1 {
  border-bottom-color: var(--main-color);
}
.events .container .event ul li span {
  font-size: 12px;
}
.events .container .event .text p {
  color: gray;
  line-height: 1.6;
}
.events .field {
  background-color: #f6f5f5;
  padding: 30px 40px;
  border-radius: 50px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.events .field .input-field {
  flex: 1;
}
.events .field .input-field input {
  width: 100%;
  border: none;
  outline: none;
  transition: 0.5s;
  padding: 20px 30px;
  border-radius: 50px;
}
.events .field .input-field input::placeholder {
  transition: 0.5s;
}
.events .field .input-field input:focus::placeholder {
  opacity: 0;
}
.events .field .btn {
  color: white;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}
.events .field .btn:hover {
  background-color: #1787e0;
}
@media (max-width: 768px) {
  .events .field {
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 0;
  }
  .events .field .input-field {
    width: 100%;
  }
  .events .field .input-field input {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 20px;
  }
  .events .field .btn {
    margin-left: 0;
    border-radius: 0;
    width: 100%;
    text-align: center;
  }
}
/* Latest Events */
/* Pricing Plans */
.pricing {
  position: relative;
  padding: 100px 0;
  background-color: #ececec;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .container .plan {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0px 0px 11px -3px black;
  z-index: 2;
}
.pricing .container .plan:nth-child(2) {
  transform: translateY(-20px);
}
.pricing .container .plan::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: 0.3s;
}
.pricing .container .plan:hover::before {
  width: 100%;
}
.pricing .container .plan::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: 0.3s;
  z-index: -1;
}
.pricing .container .plan:hover::after {
  width: 100%;
}
.pricing .container .plan:nth-child(2) .most-popular {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  padding: 5px 20px;
  font-weight: bold;
  right: -35px;
  top: 59px;
  transform: rotate(90deg);
}
.pricing .container .plan:nth-child(2) .most-popular::before {
  position: absolute;
  content: "";
  border: 15px solid;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: white;
  border-bottom-color: transparent;
  right: -1px;
  top: 1px;
}
@media (max-width: 1200px) {
  .pricing .container .plan:nth-child(2) {
    transform: translateY(0);
  }
}
.pricing .container .plan h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 25px;
}
.pricing .container .plan img {
  width: 100px;
  margin-bottom: 30px;
}
.pricing .container .plan .price {
  margin-bottom: 30px;
  text-align: center;
}
.pricing .container .plan .price h1 {
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.pricing .container .plan .price span {
  color: gray;
}
.pricing .container .plan ul {
  width: 100%;
  margin-bottom: 50px;
}
.pricing .container .plan ul li {
  padding: 15px;
  border-top: 1px solid #eee;
}
.pricing .container .plan ul li i {
  color: var(--main-color);
  margin-right: 20px;
}
.pricing .container .plan .btn {
  color: var(--main-color);
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px;
  border: 2px solid var(--main-color);
  font-weight: bold;
  transition: 0.3s;
}
.pricing .container .plan .btn:hover {
  color: white;
  background-color: var(--main-color);
}
/* Pricing Plans */
/* Top Videos */
.top-videos {
  padding: 100px 0;
}
.top-videos .container .content {
  background-color: #ececec;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .top-videos .container .content {
    flex-direction: column;
  }
}
.top-videos .container .content .videos {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 992px) {
  .top-videos .container .content .videos {
    flex-basis: 35%;
  }
}
@media (min-width: 1200px) {
  .top-videos .container .content .videos {
    flex-basis: 30%;
  }
}
.top-videos .container .content .videos h3 {
  background-color: #f4f4f4;
  position: relative;
  padding: 20px 15px;
  margin: 0;
  font-size: 15px;
}
.top-videos .container .content .videos h3::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f074";
  font-weight: 900;
  right: 20px;
}
.top-videos .container .content .videos ul li {
  padding: 15px;
  background-color: white;
  border-top: 1px solid #ccc;
  transition: 0.3s;
}
.top-videos .container .content .videos ul li:hover {
  background-color: #fafafa;
}
.top-videos .container .content .videos ul li p {
  transition: 0.3s;
  margin: 10px 0;
}
.top-videos .container .content .videos ul li:hover p {
  color: var(--main-color);
}
.top-videos .container .content .videos ul li span {
  color: gray;
}
.top-videos .container .content .video-area {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-videos .container .content .video-area .image {
  margin-bottom: 10px;
}
.top-videos .container .content .video-area .image img {
  width: 100%;
}
.top-videos .container .content .video-area p {
  background-color: white;
  padding: 20px;
  margin: 0;
}
/* Top Videos */
/* Statistics */
.statistics {
  position: relative;
  padding: 100px 0;
  background-image: url(../images/stats.jpg);
  background-size: cover;
}
.statistics::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffeb;
}
.statistics .custom-head {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.statistics .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.statistics .container .stats {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.statistics .container .stats::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  z-index: 2;
  transition: 0.5s;
}
.statistics .container .stats:hover::before {
  height: 100%;
}
.statistics .container .stats::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition: 0.5s;
  z-index: 2;
}
.statistics .container .stats:hover::after {
  height: 100%;
}
.statistics .container .stats h1 {
  font-size: 50px;
  margin: 10px 0;
}
.statistics .container .stats span {
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
}
/* Statistics */
/* Discount */
.discount .content {
  display: flex;
}
.discount .content .info {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  animation-name: changeBackground;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.discount .content .info::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #1d85daf7;
}
@keyframes changeBackground {
  0% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
}
.discount .content .info h1 {
  position: relative;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}
.discount .content .info p {
  color: white;
  line-height: 1.6;
  max-width: 400px;
  text-align: center;
  position: relative;
}
.discount .content .info .image {
  position: relative;
}
.discount .content .info .image img {
  width: 300px;
}
.discount .content .request {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount .content .request form {
  display: flex;
  flex-direction: column;
}
.discount .content .request form input {
  outline: none;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.discount .content .request form textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.discount .content .request form input[name="send"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 992px) {
  .discount .content {
    flex-direction: column;
  }
}
/* Discount */
/* Footer */
.footer {
  background-color: #191919;
  padding: 80px 0;
  color: white;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .container .box:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}
.footer .container .box:nth-child(1) h1 {
  font-size: 50px;
  margin: 20px 0;
}
.footer .container .box:nth-child(1) .icons i {
  background-color: #313131;
  padding: 15px;
  margin-right: 5px;
  transition: 0.3s;
}
.footer .container .box:nth-child(1) .icons i:nth-child(1):hover {
  background-color: var(--main-color);
}
.footer .container .box:nth-child(1) .icons i:nth-child(2):hover {
  background-color: var(--main-color);
}
.footer .container .box:nth-child(1) .icons i:nth-child(3):hover {
  background-color: red;
}
.footer .container .box:nth-child(1) p {
  color: #b9b9b9;
  line-height: 1.8;
  margin-top: 20px;
}
.footer .container .box:nth-child(2) ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer .container .box:nth-child(2) ul li {
  padding: 15px 0;
  width: 100%;
  transition: 0.3s;
}
.footer .container .box:nth-child(2) ul li:hover {
  padding-left: 15px;
}
.footer .container .box:nth-child(2) ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .container .box:nth-child(2) ul li i {
  color: var(--main-color);
  margin-right: 10px;
}
.footer .container .box:nth-child(2) ul li a {
  text-decoration: none;
  color: #b9b9b9;
}
.footer .container .box:nth-child(2) ul li:hover a {
  color: white;
}
.footer .container .box:nth-child(3) .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .container .box:nth-child(3) .info i {
  margin-right: 20px;
  font-size: 25px;
  color: var(--main-color);
}
.footer .container .box:nth-child(3) .info p {
  color: #b9b9b9;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .footer .container .box {
    text-align: center;
  }
  .footer .container .box:nth-child(3) .info {
    flex-direction: column;
  }
}
.end {
  background-color: #191919;
  color: white;
  text-align: center;
  padding: 25px;
  margin: 0;
  border-top: 1px solid #444;
}
.end span {
  color: var(--main-color);
  font-weight: bold;
}
/* Footer */
